<h2 md-dialog-title>{{data.regionCode}} | {{data.modelName}}</h2>
<md-dialog-content>
  <form [formGroup]="prodForm">
    <section style="padding:20px 0;">
      <md-select placeholder="CMS Active Override" formControlName="cmsActiveOverride" style="width:300px;">
        <md-option *ngFor="let food of [{name:'Not Set', value: null},{name:'On', value: true},{name:'Off', value: false}]" [value]="food.value">
          {{ food.name }}
        </md-option>
      </md-select>
    </section>
    <section style="padding:20px 0;">
      <md-slide-toggle [color]="'accent'" formControlName="featuredProductActive">Featured Product Active</md-slide-toggle>
    </section>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close color="warn">Close</button> &nbsp;
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-raised-button color="primary" [md-dialog-close]="prodForm.value"><i class="fa fa-save"></i></button>
</md-dialog-actions>
