<div class="row" style="margin-bottom:20px;">
  <div class="col-md-12">
    <button md-raised-button color="primary" (click)="openDialog(null, true)">Add Site FAQ</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="md-table">
      <thead>
        <tr>
          <th *ngFor="let header of ['Site FAQ', 'Modified By']">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of faqs" [class.approved]="f?.cmsActive">
          <td>
            {{f?.question}}
          </td>
          <td>
            {{f?.modifiedBy || '-'}}
          </td>
          <td>
              <button md-raised-button (click)="openDialog(f, false)"><i class="fa fa-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
