<div class="row">
  <div class="col-lg-12">
    <p>
      To add more, return to the Image Galleries page.
    </p>
  </div>
  <div class="col-md-3 col-sm-6" *ngFor="let l of list">
    <md-card>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{l?.title || 'No title'}}</md-card-title>
      </md-card-header>
      <img md-card-image [src]="l.imageUrl" [attr.alt]="l?.imageDescription" [title]="l?.imageTitle">
      <md-card-content>
        <p style="height: 100px;">
          {{l?.description || 'No description'}}
        </p>
        <p>
          Active: <i [attr.class]="l.cmsActive ? 'fa fa-check green' : 'fa fa-close red'"></i>
        </p>
        <div *ngIf="l.dateFrom">
          <hr>
          <p>
            {{l?.dateFrom}} - {{l?.dateTo}}
          </p>
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="openDialog(l)">EDIT</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
