<div class="row">
  <div class="col-md-12">
    <md-card>
      Total FAQs: {{list.length}}
    </md-card>
    <table class="md-table">
      <thead>
        <tr>
          <th *ngFor="let header of columns">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list" [class.approved]="l?.adminApproved">
          <td>
            {{l?.modelName}}
          </td>
          <td>
            {{l?.question}}
          </td>
          <td>
              <button md-raised-button (click)="openDialog(l)"><i class="fa fa-edit"></i></button>
            
          </td>
        </tr>
        <tr *ngIf="list.length === 0">
          <td [attr.colspan]="columns.length">
            No data.
          </td>
        </tr>
      </tbody>
    </table>
    <md-progress-bar mode="query" *ngIf="loading"></md-progress-bar>
  </div>
</div>
